.card:hover img {
  transform: scale(1.2, 1.2);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  opacity: 0.7;
}

.card img {
  transform: scale(1, 1);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.card-img-wrapper {
  position: relative;
  overflow: hidden;
}

.member-icons {
  position: absolute;
  bottom: -30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.card-img-wrapper:hover .member-icons {
  bottom: 0;
  opacity: 1;
}

.animate {
  transition: all 0.3s ease-in-out;
}

.user-age {
  font-weight: 700;
  font-style: italic;
  position: relative;
}

.pink-aura-inner {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(70% - 6px);
  width: 12px;
  height: 12px;
  z-index: -1;
  background-color: #ea39b8;
  border-radius: 50%;
}

.blue-aura-inner {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(85% - 6px);
  width: 12px;
  height: 12px;
  z-index: -2;
  background-color: #1ba2f6;
  border-radius: 50%;
}

@keyframes fa-blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.is-online {
  animation: fa-blink 1.5s linear infinit;
  color: #01bd2a;
}
