<div class="landing-slider">
  <carousel [isAnimated]="true">
    <slide>
      <img
        src="assets/sliders/LandingSlider/1.png"
        alt="first slide"
        style="display: block; width: 100%; height: 500px"
      />
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
    <slide>
      <img
        src="assets/sliders/LandingSlider/2.png"
        alt="second slide"
        style="display: block; width: 100%; height: 500px"
      />
      <div class="carousel-caption d-none d-md-block">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
      <img
        src="assets/sliders/LandingSlider/3.png"
        alt="third slide"
        style="display: block; width: 100%; height: 500px"
      />
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
    <slide>
      <img
        src="assets/sliders/LandingSlider/4.png"
        alt="fourth slide"
        style="display: block; width: 100%; height: 500px"
      />
      <div class="carousel-caption d-none d-md-block">
        <h3>Fourth slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
  </carousel>
  <div class="register-controls-box text-center">
    <button class="btn btn-primary btn-lg me-2" (click)="RegisterToggle()">
      Register
    </button>
    <button class="btn btn-primary btn-info btn-lg">Learn More</button>
  </div>
</div>
